/* ------ Imagen fondo ------ */

body{
    background-image: url(https://img.freepik.com/foto-gratis/vector-fondo-abstracto-acrilico-pastel_53876-102998.jpg?w=1380&t=st=1668694675~exp=1668695275~hmac=dabfbbeedc5df2ae99ff58140131a5175985fb878b8773a87201860e2be80bb8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* -------------------------- */
