/* ------- Descrip Index ------- */

.cuerpo{
    grid-area: cuerpo; 
    text-align: center;
}

.presentacion{
    line-height: 1.5;
    padding-top: 3.5rem;;
}

.itsme{
    width: 25%;
}

.bienvenida{
    padding: 5rem;
}

/* -------------------------- */
