/* --------- Sobre mi ---------- */

.yo{
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.sobre_mi{
    line-height: 1.5;
    text-transform:none;
    font-style: italic;
    font-family: serif;
    font-weight: bolder;
    color: #272727;
    padding-bottom: 1.5rem;
}

.asd{
    padding: 5rem;
}

.preguntas{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

/* -------------------------- */
